BLOG_ENV_ID=local

BLOG_SECRET_KEY=change-me
BLOG_DEBUG=True
BLOG_ALLOWED_HOSTS=localhost,127.0.0.1

BLOG_DB_NAME=blog_db
BLOG_DB_USER=blog_user
BLOG_DB_PASSWORD=blog_pass
BLOG_DB_HOST=localhost
BLOG_DB_PORT=5432

BLOG_JWT_ACCESS_LIFETIME_MINUTES=15
BLOG_JWT_REFRESH_LIFETIME_DAYS=7

BLOG_STATIC_URL=static/
BLOG_MEDIA_URL=media/
